# Created by venv; see https://docs.python.org/3/library/venv.html
train.dat
test.dat
raw.bin
cam_radar_1783260788477740516.dat

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/